<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maharsh Patel</title>
    <meta charset="utf-8" /> {% load static %}
    <link rel="stylesheet" href="{% static 'trakr/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/fonts.css' %}" type="text/css" />
    <!-- <link rel="stylesheet" href="{% static 'trakr/css/styles.css' %}" type="text/css" /> -->
    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'trakr/js/scripts.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div id="backplate" class="container-fluid">
        <div class="row" id="mainRow">
            <div class="col-md-1"></div>
            <div class="col-md-3" id="trakrLogoDiv">
                <img id="trakrLogo" class="img-responsive img-center undraggable" src="{% static 'trakr/images/svglogodark.svg' %}">
            </div>
            <div class="col-md-3">
                <!-- <span id="info" style="color: red"></span> -->
            </div>
            <div class="col-md-4 text-center" id="menu">
                <a href="#" class="menuitem">Logout</a>
                <a href="#" class="menuitem">Status</a>
                <a href="#" class="menuitem">Account</a>
                <a href="#" class="menuitem">Home</a>
            </div>
            <div class="col-md-1"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10 col-md-push-1" id="websites">
                <!-- <div class="spacer1"></div> -->
                <div class="website">
                    <div class="col-md-4">
                        <div class="website_title">Jason Lang Scholarship</div>
                        <div class="website_value">http://ualberta.ca/jasonlang</div>
                    </div>
                    <div class="col-md-2">
                        <div class="modified_title">Last Modified</div>
                        <div class="modified_value">June 12, 2017</div>
                    </div>
                    <div class="col-md-2">
                        <div class="check_title">Last Checked</div>
                        <div class="check_value">July 15, 2017 9:30PM</div>
                    </div>
                    <div class="col-md-3">
                        <div class="services_title">Services</div>
                        <div class="services_value">Email, SMS, Slack, API</div>
                    </div>
                    <div class="col-md-1">
                        <div class="extra"><img src="{% static 'trakr/images/orb.svg' %}"></img>
                    </div>
                    <!-- <div class="spacer1"></div> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                </div>
                <div class="col-md-1"></div>
                <div class="website">
                    <div class="col-md-4">
                        <div class="website_title">Jason Lang Scholarship</div>
                        <div class="website_value">http://ualberta.ca/jasonlang</div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="modified_title">Last Modified</div>
                        <div class="modified_value">June 12, 2017</div>
                    </div>
                    <div class="col-md-2">
                        <div class="check_title">Last Checked</div>
                        <div class="check_value">July 15, 2017 9:30PM</div>
                    </div>
                    <div class="col-md-3">
                        <div class="services_title">Services</div>
                        <div class="services_value">Email, SMS, Slack, API</div>
                    </div>
                    <div class="col-md-1">
                        <div class="extra"><img src="{% static 'trakr/images/orb.svg' %}"></img>
                    </div>
                    <!-- <div class="spacer1"></div> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                </div>
                <div class="col-md-1"></div>
                <div class="website">
                    <!-- <div class="spacer1"></div> -->
                    <div class="col-md-4">
                        <div class="website_title">Jason Lang Scholarship</div>
                        <div class="website_value">http://ualberta.ca/jasonlang</div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="modified_title">Last Modified</div>
                        <div class="modified_value">June 12, 2017</div>
                    </div>
                    <div class="col-md-2">
                        <div class="check_title">Last Checked</div>
                        <div class="check_value">July 15, 2017 9:30PM</div>
                    </div>
                    <div class="col-md-3">
                        <div class="services_title">Services</div>
                        <div class="services_value">Email, SMS, Slack, API</div>
                    </div>
                    <div class="col-md-1 center-block">
                        <div class="extra"><img src="{% static 'trakr/images/orb.svg' %}"></img>
                    </div>
                    <!-- <div class="spacer1"></div> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                </div>
                <div class="col-md-1"></div>
                <div class="website">
                    <!-- <div class="spacer1"></div> -->
                    <div class="col-md-4">
                        <div class="website_title">Jason Lang Scholarship</div>
                        <div class="website_value">http://ualberta.ca/jasonlang</div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="modified_title">Last Modified</div>
                        <div class="modified_value">June 12, 2017</div>
                    </div>
                    <div class="col-md-2">
                        <div class="check_title">Last Checked</div>
                        <div class="check_value">July 15, 2017 9:30PM</div>
                    </div>
                    <div class="col-md-3">
                        <div class="services_title">Services</div>
                        <div class="services_value">Email, SMS, Slack, API</div>
                    </div>
                    <div class="col-md-1 center-block">
                        <div class="extra"><img src="{% static 'trakr/images/orb.svg' %}"></img>
                    </div>
                    <!-- <div class="spacer1"></div> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <hr>
                </div>
                <div class="col-md-1"></div>
                <div class="website">
                    <!-- <div class="spacer1"></div> -->
                    <div class="col-md-4">
                        <div class="website_title">Jason Lang Scholarship</div>
                        <div class="website_value">http://ualberta.ca/jasonlang</div>
                    </div>
                    <div class="col-md-2 ">
                        <div class="modified_title">Last Modified</div>
                        <div class="modified_value">June 12, 2017</div>
                    </div>
                    <div class="col-md-2">
                        <div class="check_title">Last Checked</div>
                        <div class="check_value">July 15, 2017 9:30PM</div>
                    </div>
                    <div class="col-md-3">
                        <div class="services_title">Services</div>
                        <div class="services_value">Email, SMS, Slack, API</div>
                    </div>
                    <div class="col-md-1 center-block">
                        <div class="extra">
                            <img style="padding-top:2px;" src="{% static 'trakr/images/orb3.svg' %}"></img></div>
                            
                            
                        </div>
                    <!-- <div class="spacer1"></div> -->
                </div>
                <!-- <div class="website">
                    <div class="col-md-4">asdf</div>
                    <div class="col-md-2">asdf</div>
                    <div class="col-md-2">asdf</div>
                    <div class="col-md-1">ds</div>
                </div> -->
                <!-- <div class="website" style="background-color: lightgrey">asdf</div> -->
            </div>
            <!-- <div class="col-md-1" style="background-color: grey">sdf</div> -->
        </div>
    </div>
</body>
<style>
body {
    margin: 0;
    padding: 2em;
    overflow-x: hidden;
    background-position: 0% 20%;
    padding-top: 10vh;
}

#backplate {
    padding: 0;
}

#trakrLogo {
    width: 150px;
}

#trakrLogoDiv {
    padding: 0;
}

#menu {
    height: 50px;
    padding: 0;
}

.menuitem {
    margin: 25px;
    float: right;
    margin-top: 7px;
    margin-right: 0;
    font-size: 12px;
    font-family: "Graphik-Semibold";
    letter-spacing: -0.3;
    color: #332E4D;
}

a {
    color: white;
}

a:hover {
    color: #6F06FB;
    text-decoration: none;
}


/*#mainrow {
    width: 100%;
}*/

#websites {
    background-color: #FCFAFF;
    /*height: 500px;*/
}

.website {
    /*min-height: 60px;*/
    line-height: 13px;
    /*padding: 25px;*/
    /*background-color: green;*/
}

.website_title,
.modified_title,
.check_title,
.services_title,
.extra {
    font-family: "Graphik-Semibold";
    font-size: 12px;
    letter-spacing: -0.3;
    /*padding-top: 8px;*/
    padding-top: 35px;
    color: #332E4D;
}

.website_value,
.modified_value,
.check_value,
.services_value {
    font-family: "Graphik-Regular";
    letter-spacing: -0.3;
    font-size: 12px;
    padding-bottom: 35px;
    color: #A9A5BC;
}

hr {
    margin: 0;
}
</style>
<script>
// check if the user is already logged in

//TODO DO A GET REQUEST FOR THE INFORMATION AND SEND THE TOKEN THERE FOR VERIFICATION 
// firebase.auth().onAuthStateChanged(user => {
//     if (user) {
//         firebase.auth().currentUser.getIdToken().then(function(idToken) {

//             // TODO DO THE REQUEST HERE 
//             // $.get("/home", ...

//             var info = "Email: " + user.email + "<br>ID:" + user.uid + "<br>Token:" + idToken; 
//             document.getElementById("info").innerHTML = info;
//         }).catch(function(error) {
//             signout();
//         });
//     } else {
//         window.location.replace("/");
//     }
// });
</script>

</html>
