<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maharsh Patel</title>
    <meta charset="utf-8" /> {% load static %}
    <link rel="stylesheet" href="{% static 'trakr/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/fonts.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/styles.css' %}" type="text/css" />
    <!-- <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyAiCNv_Pnzrr1l2qUE4zSQiFxqQHMKHspw",
            authDomain: "trakr-39dff.firebaseapp.com",
            databaseURL: "https://trakr-39dff.firebaseio.com",
            projectId: "trakr-39dff",
            storageBucket: "",
            messagingSenderId: "712101225728"
        };
        firebase.initializeApp(config);
    </script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'trakr/js/scripts.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="backplate" class="container-fluid">
        <div class="row" id="mainRow">
            <div class="col-md-6 col-md-push-1" id="infoSection">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8"><img id="trakrLogo" class="img-responsive img-center undraggable" src="{% static 'trakr/images/logo.png' %}"> <br></div>
                    <div class="col-md-2"></div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center" id="infoSectionFeatures">
                        <span id="featuresTag">Features</span> <br>
                        Track <strong>Unlimited</strong> Websites <br>
                        Email and SMS Notifications <br>
                        Set <strong>Custom Time</strong> for notifications<br>
                        or receive <strong>Instant Notifications</strong>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>

            <div class="col-md-6 col-md-pull-1" id="loginSection">
                <div id="loginArea" class="center-block">
                    <div class="col-md-1"></div>
                    <div id="loginBlock" class="col-md-10">
                        <span class="loginTitles"> EMAIL </span><br>
                        <h1 class="loginInputs">
                            <input id="usernameInput" name="username" type="text"></input>
                        </h1>

                        <span class="loginTitles"> PASSWORD </span><br>
                        <h1 class="loginInputs">
                            <input id="passwordInput" name="password" type="password"></input>
                        </h1>
                    </div>
                    <div class="col-md-1"></div>
                    <div id="loginSignupButtons">
                        <button id="loginButton" class="col-md-6 col-xs-12">LOGIN</button>
                        <button id="signupButton" class="col-md-6 col-xs-12">SIGNUP</button>
                    </div>
                </div>

            </div>


        </div>
        <div id="footerbar" class="row">
            <div class="col-xs-12 text-center footerbarItem">Made with &hearts; by Maharsh Patel</div>
        </div>
    </div>


</body>
<script>
// // CREATE A USER
// firebase.auth().createUserWithEmailAndPassword("patel@maharsh.net", "password").catch(function(error) {
//   // Handle Errors here.
//   var errorCode = error.code;
//   var errorMessage = error.message;
//
//   console.log(errorCode);
//   console.log(errorMessage);
// });

// // SIGN IN USER
// firebase.auth().signInWithEmailAndPassword("patel@maharsh.net", "maharsh").catch(function(error) {
//   // Handle Errors here.
//   var errorCode = error.code;
//   var errorMessage = error.message;
//
//   console.log(errorCode);
//   console.log(errorMessage);
// });

// // CHECK IF USER SIGNED IN - GET ID
// firebase.auth().onAuthStateChanged(function(user) {
//   if (user) {
//     // User is signed in.
//     console.log(user.uid);
//   } else {
//     // No user is signed in.
//     console.log(2);
//   }
// });

// // SIGN OUT USER
// firebase.auth().signOut().then(function() {
//   console.log('Signed Out');
// }, function(error) {
//   console.error('Sign Out Error', error);
// });

</script>



</html>
