<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maharsh Patel</title>
    <meta charset="utf-8" /> {% load static %}
    <link rel="stylesheet" href="{% static 'trakr/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/fonts.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/styles.css' %}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'trakr/js/scripts.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    test
   <!--  <div class="container-fluid">
        asd
    </div> -->
</body>



</html>
