<!DOCTYPE html>
<html lang="en">

<head>
    <title>Maharsh Patel</title>
    <meta charset="utf-8" /> {% load static %}
    <link rel="stylesheet" href="{% static 'trakr/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/fonts.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'trakr/css/styles.css' %}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="{% static 'trakr/js/scripts.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div id="backplate" class="container-fluid">
        <div id="main">
            





        </div>
        <div class="row">
            <div id="footerbar">
                <div class="col-md-4 text-center footerbarItem">A</div>
                <div class="col-md-4 text-center footerbarItem">B</div>
                <div class="col-md-4 text-center footerbarItem">C</div>

            </div>
        
        </div>
    </div>
    
    
</body>



</html>
