body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../images/rectangle8.png");
    /*background-image:-webkit-linear-gradient(top,#3A3844 0,#5019A9 220%);background-image:-o-linear-gradient(top,#3A3844 0,#5019A9 220%);background-image:linear-gradient(to bottom,#3A3844 -20%,#5019A9 350%)*/
    /* Rectangle 3: */
/*background-image: linear-gradient(-180deg, #3A3844 0%, #342B60 100%);*/

}
#backplate{
    padding: 0;
}
#main{
    height: 200vh;
    position: relative;
}

#footerbar{
    /*padding-top: 15px;*/
    padding-bottom: 50px;
    height: 50px;
    width:100%;
    background-color: #6F06FB;
}
.footerbarItem{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: "BG";
}

   
