body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-image: url("../images/another2.png");
    background-position: 0% 20%;
    color: white;
}
#backplate{
    padding: 0;
}

#mainRow{
    margin-top: 100px;
    height: 200vh;
    position: relative;
}
#infoSection{
    font-family: "BG";
    letter-spacing: 0.34px;
    right: 0;
}
#featuresTag{
    width: 100px;
    background-color: #6F06FB;
    background: #6F06FB;
    font-size: 14px;
    letter-spacing: 0.19px;
    padding: 2px 15px 2px 15px;
    border-radius: 2px;
}
#infoSectionFeatures{
    padding-top: 60px;
    font-size: 18px;
    letter-spacing: 1.0px;
    line-height: 50px;
    padding-bottom: 100px;
}
#trakrLogo{
    width: 150px;
    padding-top: 5px;
}
#loginSection{
    font-family: "BG";
    letter-spacing: 0.34px;
    /*background-color: red;*/

}
#loginArea{
    background-color: white;
    height: 500px;
    width: 400px;
    background: #F8F8F8;
    box-shadow: 0 0 56px 9px rgba(28,28,28,0.56);
}

#footerbar{
    /*padding-top: 15px;*/
    padding-bottom: 50px;
    height: 50px;
    width:100%;
    margin: 0;
    background-color: #6F06FB;
}
.footerbarItem{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-family: "Graphik-Light";
    letter-spacing: -0.55px;

}

.img-center {
    margin:0 auto;
}
